@font-face {
	font-family: 'nbc-icons';
	src:url('/assets/fonts/icons.eot');
	src:url('/assets/fonts/nbc-icons.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/nbc-icons.woff') format('woff'),
		url('/assets/fonts/nbc-icons.ttf') format('truetype'),
		url('/assets/fonts/nbc-icons.svg#icons') format('svg');
	font-style: normal;
	font-weight: normal;
}